<!--The content below is only a placeholder and can be replaced.-->
<div class="comments-section">
  <div class="comments-title-box">
    <h2 class="comments-title">
      Comments ({{comments_count}})
    </h2>
  </div>
  <div class="comments-box-section">
    <!--    Comment List-->
    <div *ngIf="comments_count > 0">
      <div class="new-comment" *ngFor="let comment of comments; let index = index">
        <div class="user-avatar">
          <ngx-avatar facebookId="1508319875"
                      src="https://s3.amazonaws.com/uifaces/faces/twitter/dancounsell/73.jpg"></ngx-avatar>
        </div>
        <div class="details-box">
          <div style="display: flex; flex-direction: row;">
            <p class="comment-name">
              {{comment.author}}
            </p>
            <p class="comment-time">
              {{comment.datetime | timeFromNow}}
            </p>
          </div>
          <div class="details-section">
            <p class="comment-description">
              {{comment.commentText}}
            </p>
            <div class="action-buttons">
              <p class="comment-reply">
                <span *ngIf="!comment.initReply" (click)="onOpenReply(index)">Reply</span>
                <span *ngIf="comment.initReply" (click)="onCloseReply(index)">Cancel</span>
              </p>
              <p class="comment-like">
                <img (click)="onActivity('like', 'comment', index)" src="../assets/images/like.svg" class="like-class" alt="">
                {{comment.likes}}
              </p>
              <p class="comment-dislike">
                <img (click)="onActivity('dislike', 'comment', index)" src="../assets/images/dislike.svg" class="dislike-class" alt="">
                {{comment.dislikes}}
              </p>
            </div>
            <app-add-comment *ngIf="comment.initReply" tenancy="reply" [commentId]="comment.id"></app-add-comment>
            <div *ngIf="comment.replies.length > 0" class="replied-comments">
              <div *ngFor="let reply of comment.replies; let replyIndex = index" style="padding-left: 30px;">
                <div class="user-avatar">
                  <ngx-avatar></ngx-avatar>
                </div>
                <div class="details-box">
                  <div style="display: flex; flex-direction: row;">
                    <p class="comment-name">
                      {{reply.author}}
                    </p>
                    <p class="comment-time">
                      {{reply.datetime | timeFromNow}}
                    </p>
                  </div>
                  <div class="details-section">
                    <p class="comment-description">
                      {{reply.commentText}}
                    </p>
                    <div class="action-buttons">
                      <p class="comment-like">
                        <img (click)="onActivity('like', 'reply', index, replyIndex)" src="../assets/images/like.svg" class="like-class" alt="">
                        {{reply.likes}}
                      </p>
                      <p class="comment-dislike">
                        <img (click)="onActivity('dislike', 'reply', index, replyIndex)" src="../assets/images/dislike.svg" class="dislike-class" alt="">
                        {{reply.dislikes}}
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--    No Comments-->
    <div *ngIf="comments_count === 0" class="new-comment">
      <p>No Comments to this post. Add a new comment</p>
    </div>
    <app-add-comment tenancy="comment"></app-add-comment>
  </div>
</div>

<router-outlet></router-outlet>
