<!--The content below is only a placeholder and can be replaced.-->
<div class="comments-section">
  <div class="comments-title-box">
    <h2 class="comments-title">
      Comments
    </h2>
  </div>
  <div class="comments-box-section">
    <div>
      <div class="new-comment" *ngFor="let item of comments">
        <div class="user-avatar">
          <img src="{{item.src}}">
        </div>
        <div class="details-box">
          <div style="display: flex; flex-direction: row;">
            <p class="comment-name">
              {{item.name}}
            </p>
            <p class="comment-time">
              {{item.time}}
            </p>
          </div>
          <div class="details-section">
            <p class="comment-description">
              {{item.comment}}
            </p>
            <p class="comment-reply">
              Reply
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
