.input-comment {
  padding: 10px 0px;
}

.input-comment-section {
  width: 100%;
  border: 1px solid #e2e1e1;
  border-radius: 10px;
}

.submit-btn {
  padding: 10px 39px;
  border-radius: 5px;
  background: #49d056;
  border: 1px solid #49d056;
  color: white;
  font-size: 13px;
  font-family: "Open Sans";
}
